{%extends 'base.html'%}

{%block title%}
    {{title}}
{%endblock title%}

{%block Contents%}

<div class="col-md-12">
    <a href="/Local/add/" class="btn btn-default">Add</a>
</div>
<div class="col-md-12">
    {%for file in files%}
        <a href="/Local/list/{{category}}/{{forloop.counter}}">{{file}}</a>
    {%endfor%}
</div>

<div class="col-md-12">
    {%for a in anime_list%}
        <div class="col-xs-4 col-sm-3 col-md-2">
            <a href='/Local/list/{{category}}/{{index}}/{{a.0}}' class="thumbnail">
                <img src="{{picture}}" alt="{{a.0}}" class="img img-thumbnail">
                <span class="text-center">
                    {{a.0}}
                </span>
            </a>
        </div>
    {%endfor%}
</div>

{%endblock Contents%}
