{%extends 'base.html'%}
{%block title%}
{{title}}
{%endblock title%}

{%block Contents%}
<form action="" method="POST">
    {%for field in fields%}
        <label for= {{field}}>
            {{field}}
        </label>
        <select id ={{field}}  name = {{field}}>
            {%for key in keys%}
                <option value = {{key}}> {{key}} </option>
            {%endfor%}
        </select>
    {%endfor%}
    {%csrf_token%}
    
    <button class="btn btn-primary">
        convert
    </button>
</form>
{%endblock Contents%}
