
<div class="col-md-3">
    <form action="">
        <ul class="list-group">
            <li class="list-group-item">
                Genre
            </li>
            <li class="list-group-item">
                    <label for="action">action</label>
                <input type="checkbox" id="action" value="Action">    
            </li>
            <li class="list-group-item">
                <label for="adventure">adventure</label>
                <input type="checkbox" id="adventure" value="Adventure">                    
            </li>
            <li class="list-group-item">
                <label for="action">action</label>
                <input type="checkbox" id="action" value="Action">    
            </li>
            <li class="list-group-item">
                <label for="adventure">adventure</label>
                <input type="checkbox" id="adventure" value="Adventure">                    
            </li>
            <li class="list-group-item">
                <label for="action">action</label>
                <input type="checkbox" id="action" value="Action">    
            </li>
            <li class="list-group-item">
                <label for="adventure">adventure</label>
                <input type="checkbox" id="adventure" value="Adventure">                    
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-default">
                    filter
                </button>
            </li>
        </ul>    
    </form>

    <div class="btn-group">
        <button class="btn btn-primary">
            Action
        </button>
        <button class="btn btn-success">
            Comedy
        </button>
        <button class="btn btn-primary">
            Romance
        </button>
        <button class="btn btn-success">
            Fantasy
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-info">
            Action
        </button>
        <button class="btn btn-success">
            Comedy
        </button>
        <button class="btn btn-info">
            Romance
        </button>
        <button class="btn btn-success">
            Fantasy
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-warning">
            worst
        </button>
        <button class="btn btn-danger">
            worst
        </button>
        <button class="btn btn-warning">
            worst
        </button>
        <button class="btn btn-danger">
            worst
        </button>
    </div>
