{%load static%}
<h1>Latest</h1>
    <div class="col-md-2">
        <span class="h3">
            Anime
        </span>
    </div>
    <div class="col-md-10">
        <div class="col-md-3">
            <a href="" class="thumbnail">
                <img src="{{picture}}" alt="Naruto" class="img img-thumbnail">
                <span class="text-justify">
                    Naruto
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <span class="h3">
            Manga
        </span>
    </div>
    <div class="col-md-10">
        <div class="col-md-3">
            <a href="" class="thumbnail">
                <img src="{{picture}}" alt="Shounen" class="img img-thumbnail">
                <span class="text-center">
                    Shounen
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <span class="h3">
            Cartoon
        </span>
    </div>
    <div class="col-md-10">
        <div class="col-md-3">
            <a href="" class="thumbnail">
                <img src="{{picture}}" alt="Shounen" class="img img-thumbnail">
                <span class="text-center">
                    Shounen
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <span class="h3">
            Comic
        </span>
    </div>
    <div class="col-md-10">
        <div class="col-md-3">
            <a href="" class="thumbnail">
                <img src="{{picture}}" alt="Shounen" class="img img-thumbnail">
                <span class="text-center">
                    Shounen
                </span>
            </a>
        </div>
    </div>
