
<fieldset>
    <legend>hello</legend>
    <ul>
        <li>
            <audio src="C:\Users\Birhan\Music\Music\OST\Akame ga Kill! - Opening 1 - Skyreach.mkv" controls autoplay></audio>
            ost
        </li>
        <li>
            <audio src="C:\Users\Birhan\Music\Music\OST\Akame ga Kill! - Opening 1 - Skyreach.mkv" controls autoplay></audio>
        </li>
        <li>
            <audio src="C:\Users\Birhan\Music\Music\OST\Akame ga Kill! - Opening 1 - Skyreach.mkv" controls autoplay></audio>
        </li>
        <li>
            <audio src="C:\Users\Birhan\Music\Music\OST\Akame ga Kill! - Opening 1 - Skyreach.mkv" controls autoplay></audio>
        </li>
    </ul>
</fieldset>
